menu "MSM89x7 panel drivers generated with linux-mdss-dsi-panel-driver-generator"
	depends on GPIOLIB && OF && REGULATOR
	depends on DRM_MIPI_DSI

config DRM_PANEL_MSM89X7_GENERATED
	tristate "Select all generated MSM89X7 panel drivers by default"

config DRM_PANEL_MOTOROLA_CEDRIC_NT35596_INX
	tristate "Motorola CEDRIC NT35596 INX"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_CEDRIC_NT35596_TIANMA
	tristate "Motorola CEDRIC NT35596 TIANMA"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_MONTANA_NT35596_INX
	tristate "Motorola MONTANA NT35596 INX"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_MOTOROLA_MONTANA_R63350_TIANMA
	tristate "Motorola MONTANA R63350 TIANMA"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_LAND_HX8394F_BOE
	tristate "Xiaomi LAND HX8394F BOE"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_LAND_ILI9881C_TIANMA
	tristate "Xiaomi LAND ILI9881C TIANMA"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_LAND_NT35521S_EBBG
	tristate "Xiaomi LAND NT35521S EBBG"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_RIVA_HX8394F_BOE
	tristate "Xiaomi RIVA HX8394F BOE"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_RIVA_ILI9881C_EBBGDJN
	tristate "Xiaomi RIVA ILI9881C EBBGDJN"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_RIVA_ILI9881C_EBBG
	tristate "Xiaomi RIVA ILI9881C EBBG"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_RIVA_ILI9881C_TIANMA
	tristate "Xiaomi RIVA ILI9881C TIANMA"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_SANTONI_HX8394F_BOE
	tristate "Xiaomi SANTONI HX8394F BOE"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_SANTONI_ILI9881C_EBBGDJN
	tristate "Xiaomi SANTONI ILI9881C EBBGDJN"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_SANTONI_ILI9881C_EBBG
	tristate "Xiaomi SANTONI ILI9881C EBBG"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_UGGLITE_ILI9881C_SC
	tristate "Xiaomi UGGLITE ILI9881C SC"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_UGGLITE_OTM1901A_HX
	tristate "Xiaomi UGGLITE OTM1901A HX"
	default DRM_PANEL_MSM89X7_GENERATED

config DRM_PANEL_XIAOMI_UGGLITE_OTM1901A_TM
	tristate "Xiaomi UGGLITE OTM1901A TM"
	default DRM_PANEL_MSM89X7_GENERATED

endmenu
